*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
    animation: animate 10s linear infinite;
}
.box 
{
    position: relative;
    padding: 20px 0 0 10px;
    width: 360px;
    min-height: 480px;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
#rows 
{
    background-color: rgb(20, 230, 194);
    height: 40px;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
}
#go 
{
    background-color: rgb(20, 230, 194);
    height: 40px;
    margin-left: 10px;
    width: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
}
table 
{
border-collapse: collapse;
}
th,td 
{
    background-color: transparent;
    border: 5px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

th 
{
    padding: 10px 5px;
}

input[type=text] 
{
    width: 100%;
    background-color: transparent;
    text-align: center;
    font-size: large;
}

input[type=button] 
{
    background-color: rgb(251, 251, 251);
    height: 40px;
    margin-right: 20px;
    width: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 6px;
}
input[type=button]:hover 
{
    color: rgb(255, 252, 252);
    text-shadow: #03a9f4;
    font-weight: bolder;
    background-color: #676060;
}
/* animated rotated background css */
@keyframes animate 
{
    0% 
    {
        filter: hue-rotate(0deg);
    }
    100% 
    {
        filter: hue-rotate(360deg);
    }
}